@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');
  
@font-face {
    font-family: GTAmerica;
    src: url("./assets/fonts/GT-America-Standard-Regular.ttf");
}

@font-face {
    font-family: GTAmerica;
    src: url("./assets/fonts/GT-America-Standard-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: GTAmericaBoldItalic;
    src: url("./assets/fonts/GT-America-Standard-Bold-Italic.ttf");
}


body {
    background: linear-gradient(180deg, #3E3E3E 0%, #161616 100%);
    color: white;
    font-family: GTAmerica;

    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (max-width: 800px) {
  .web-only {
    display: none;
  }
}

.title {
    font-family: GTAmericaBoldItalic;
    font-size: 24px;
    margin: 30px;
    text-align: center;
}

.pyramid-wrapper {
    width: 300px;
    position: relative;
}

.pyramid {
    width: 100%;
}

.nick-cage-pillow {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50px;
    top: 59px;

    animation: rotation 3s infinite linear;
}

.rotate {
    animation: rotation 3s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.cta-link {
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: GTAmerica;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #7289DA;
  color: #fff;
  border: none;
  align-self: center;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}

.cta-link:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

a {
  color: white;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  border-radius: 10px;
  font-size: 1rem;
  font-family: GTAmerica;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #3ca86d;
  color: #fff;
  border: none;
  align-self: center;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}

.link:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  cursor: pointer;
}

.video-credit {
  margin: 0;
}

.content {
  text-align: left;
  /* align-self: flex-start; */
  padding: 30px;
  width: 400px;
}

h1 {
  font-family: 'Ballet';
}

.js-tilt-glare {
  border-radius: 50%;
}

video {
  margin-top: 2rem;
}

.movie-poster {
  width: 100%;
  margin-top: 40px;
}

